<nav class="navigation">
  <div class="nav-left">
    {{ if not (gt (len .Site.Menus) 0) }}
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    {{ end }}
    <div class="nav-item nav-title">
      <a href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a>
    </div>
    <div class="nav-item nav-menu">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"> {{ .Name }}</a>
      {{ end }}
    </div>
    <div class="nav-item nav-search" id="site-search">
      <input type="search" placeholder="Clan, family or sept…" aria-label="Search clans, families and septs"
             autocomplete="off" spellcheck="false">
      <ul class="search-results" hidden></ul>
    </div>
  </div>
  <div class="nav-item nav-right fontawesome">
    {{ if .Site.Params.social.twitter }}
    <a href="{{ .Site.Params.social.twitter }}" target="_blank">
      <i title="Twitter" class="fab fa-twitter"></i>
    </a>
    {{ end }}
    {{ if .Site.Params.social.github }}
    <a href="{{ .Site.Params.social.github }}" target="_blank">
      <i title="GitHub" class="fab fa-github"></i>
    </a>
    {{ end }}
    {{ if .Site.Params.social.rss }}
    <a href="{{ "index.xml" | absLangURL }}" target="_blank">
      <i title="RSS" class="fas fa-rss"></i>
    </a>
    {{ end }}
  </div>
</nav>
